html,
body,
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}
body {
	width: 500px;
}

.bg {
	position: absolute;
	z-index: -1;
	width: 500px;
}

.navigator {
	width: 500px;
	position: fixed;
	display: flex;
	justify-content: space-between;
}
.navigator button {
	width: 20px;
	margin: 10px 30px;
	background: transparent;
	font-size: 40px;
	border: 0;
	color: rgb(234, 228, 255);
}

.profile {
	width: 380px;
	height: 28vh;
	display: flex;
	background: white;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 90px;
	box-shadow: 0 5px 20px -8px rgba(128, 128, 128, 0.445);
	border-radius: 20px;
}
.profileImg img {
	width: 100px;
	height: 100px;
	position: relative;
	top: -50px;
	border-radius: 50%;
}

.profileIntro {
	display: flex;
	position: relative;
	top: -40px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.profileIntro .name {
	font-weight: 900;
	font-size: 20px;
	margin-bottom: 12px;
}
.profileIntro .desc {
	width: 100%;
	text-align: center;
	line-height: 140%;
}

.profileBtn {
	display: flex;
	width: 100%;
	position: relative;
	top: -40px;
	margin-top: 20px;
}
.profileBtn button,
.profileBtn img {
	height: 40px;
	background: transparent;
	border: 0;
	border-radius: 12px;
}
.profileBtn button {
	width: 100%;
	margin-left: 20px;
	margin-right: 10px;
	font-size: 20px;
	background: rgb(16, 167, 236);
	color: white;
}
.profileBtn img {
	transform: scale(1.2);
	margin-right: 10px;
}

.contents {
	width: 500px;
	height: 60vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

.status {
	width: 100px;
	height: 55vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background: rgba(128, 128, 128, 0.096);
	border-radius: 20px;
}
.status .status__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 80px;
	height: 100px;
	border-bottom: 1px rgba(128, 128, 128, 0.226) solid;
}
.status .status__box:last-child {
	border-bottom: 0;
}
.status .status__box .status__number {
	font-weight: 900;
	font-size: 20px;
	margin-bottom: 10px;
}

.feed {
	height: 55vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 20px;
	margin-top: 10px;
}

.friends__title {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-left: 10px;
}
.friends__list {
	display: flex;
	flex-flow: row;
	width: 350px;
	overflow-x: auto;
	scrollbar-width: none;
}
.friends__list::-webkit-scrollbar {
	display: none;
}
.friends__list .friendImg {
	width: 75px;
	margin: 0 15px;
}
.friends__list .friendImg:first-child {
	margin-left: 0;
}

.gallery {
	margin-top: 20px;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}
.gallery__title {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 10px;
}
.gallery__list {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow-y: auto;
	scrollbar-width: none;
}
.gallery__list::-webkit-scrollbar {
	display: none;
}
.galleryImg {
	width: 150px;
	height: 150px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.galleryImg:first-child {
	border-top-left-radius: 30px;
}
.galleryImg:nth-child(2) {
	border-top-right-radius: 30px;
}
.galleryImg:nth-last-child(2) {
	border-bottom-left-radius: 30px;
}
.galleryImg:nth-last-child(1) {
	border-bottom-right-radius: 30px;
}
.galleryImg.transparentImg {
	opacity: 50%;
}
